{% extends "base.html" %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
{% endblock %}

{% block content %}


{% if request.user.is_authenticated %}
    <div class="create-story-container">
        <h2 id="write-story">Create a Story!</h2>
    </div>
    <div class="create-story-container">
        <form action="" method="post">
        {% csrf_token %} {{ form.as_p }}
        <input id="submit-story-btn" type="submit" value="Submit" />
        </form>
{% else %}
    <h3> Oops! You need to login before writing a post! </h3>
{% endif %} 
    </div>

{% endblock %}
