{% extends 'base.html' %}
{% block title %} Edit Story {% endblock %}
{% block content %}

<h3 id="edit-story-pg-title">You are Editing: <span>{ {{ newsstory.title }} }<span></h3>

<div class="edit-story-container">
<h1 id="edit-story-txt"> Edit Post...</br> ✏️</h1>

<br/>
<div class="form-group">
    {% if request.user.is_authenticated %}
        {% csrf_token %}
        {{ form.as_p }}
        <button id="edit-delete-story-btn" class="btn btn-secondary">Edit Story</button>
    {% else %}
        <h3> Oops! You need to login before editing a post! </h3>
    {% endif %} 
</div>

{% endblock %}